---
import Service from "./Service.astro";

interface ServiceItem {
  number: string;
  title: string;
  text: string;
}

interface Frontmatter {
  services: ServiceItem[];
}

const { frontmatter } = await import("./data/services.md").then(
  (module) => module as unknown as { frontmatter: Frontmatter }
);
const services = frontmatter.services;
---

<section class="services" id="expertize">
  <ul role="list" class="services__grid">
    {
      services.map((service) => (
        <Service
          number={service.number}
          title={service.title}
          text={service.text}
        />
      ))
    }
  </ul>
</section>

<style lang="scss">
  .services {
    &__grid {
      display: grid;
      padding: 0;

      @media (max-width: 767px) {
        grid-template-columns: 1fr;
      }

      @media (min-width: 768px) and (max-width: 1199px) {
        grid-template-columns: repeat(2, 1fr);
      }

      @media (min-width: 1200px) {
        grid-template-columns: repeat(3, 1fr);
      }
    }
  }
</style>
