---
interface Props {
  number: string;
  title: string;
  text: string;
}

const { number, title, text } = Astro.props;
---

<li class="service">
  <div>
    <h2 class="service__number">{number}</h2>
    <h3>{title}</h3>
    <p class="service__text">{text}</p>
  </div>
</li>
<style lang="scss">
  .service {
    list-style: none;
    display: flex;
    padding: var(--space-40);
    position: relative;
    border: 0.5px solid var(--color-border-primary);

    @media (max-width: 992px) {
      padding: var(--space-24);
    }

    &__number {
      color: var(--color-text-secondary);
      margin-top: 0;
      margin-bottom: var(--space-80);
    }

    &__text {
      margin-top: 0;
      margin-bottom: var(--space-16);
    }
  }
</style>
