---
interface Props {
  title: string;
  text: string;
  number: string;
}

const { title, text, number } = Astro.props;
---

<li class="service">
  <div>
    <h2 class="service__number">{number}</h2>
    <h3>{title}</h3>
    <p>{text}</p>
  </div>
</li>
<style lang="scss">
  .service {
    list-style: none;
    display: flex;
    padding: var(--space-40);
    position: relative;
    border: 1px solid var(--color-border-primary);

    &__number {
      color: var(--color-text-tertiary);
      margin-bottom: var(--space-80);
    }
  }
</style>
