:root {
  --neutral-0: #f7f7f3;
  --neutral-25: #fbfaf8;
  --neutral-50: #fafaf9;
  --neutral-100: #f5f5f4;
  --neutral-200: #e7e5e4;
  --neutral-300: #d6d3d1;
  --neutral-400: #a8a29e;
  --neutral-500: #78716c;
  --neutral-600: #57534e;
  --neutral-700: #44403c;
  --neutral-800: #292524;
  --neutral-900: #1c1917;

  --brand-25: #fcfaff;
  --brand-50: #f9f5ff;
  --brand-100: #f4ebff;
  --brand-200: #e9d7fe;
  --brand-300: #d7bbfc;
  --brand-400: #b692f6;
  --brand-500: #9e77ed;
  --brand-600: #7f56d9;
  --brand-700: #6941c6;
  --brand-800: #53389e;
  --brand-900: #42307d;

  --alpha-brand-50: #7f56d980;
  --alpha-black-50: #26251e80;
}
