:root {
  --neutral-0: #ffffff;
  --neutral-25: #fcfcfd;
  --neutral-50: #f9fafb;
  --neutral-100: #f2f4f7;
  --neutral-200: #e4e7ec;
  --neutral-300: #C4CAD4;
  --neutral-400: #98a2b3;
  --neutral-500: #667085;
  --neutral-600: #475467;
  --neutral-700: #344054;
  --neutral-800: #1d2939;
  --neutral-900: #111414;

  --brand-25: #fcfaff;
  --brand-50: #f9f5ff;
  --brand-100: #f4ebff;
  --brand-200: #e9d7fe;
  --brand-300: #d7bbfc;
  --brand-400: #b692f6;
  --brand-500: #9e77ed;
  --brand-600: #7f56d9;
  --brand-700: #6941c6;
  --brand-800: #53389e;
  --brand-900: #42307d;

  --alpha-brand-50: #7f56d980;
  --alpha-black-50: #11141480;
}