@use 'sass:color';
@import '_reset.css';

:root {
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color-scheme: light dark;
}

main {
  display: grid;
  gap: var(--space-40);
  margin: auto;
  padding: var(--space-16);
  max-width: 1024px;
}

body {
  font-family: var(--font-family-body);
  background: var(--color-bg-base);
  color: var(--color-text-primary);
  font-size: var(--font-size-16);
  word-break: break-word;
  transition:
    background-color 0.5s ease,
    color 0.5s ease;
}

h1 {
  font-family: var(--font-family-display);
  font-size: var(--font-size-32);
  font-weight: var(--font-weight-medium);
  line-height: 100%;
  margin-bottom: var(--space-24);
}

h2 {
  font-size: var(--font-size-24);
  font-weight: var(--font-weight-medium);
  line-height: 100%;
  margin-top: var(--space-48);
  margin-bottom: var(--space-16);
}

h3 {
  font-size: var(--font-size-20);
  font-weight: var(--font-weight-medium);
  line-height: 100%;
  margin-top: var(--space-40);
  margin-bottom: var(--space-16);
}

h1,
h2,
h3 {
  text-wrap: balance;
}

p {
  font-size: var(--font-size-16);
  line-height: 150%;
  margin-bottom: var(--space-16);
  text-wrap: pretty;
  max-width: 70ch;
}

p:has(> img) {
  max-width: 100%;
}

a {
  color: var(--color-text-link-primary);
  text-decoration: underline;
  text-underline-offset: 3px;
  text-decoration-thickness: 1px;
  text-decoration-color: color-mix(in srgb, currentColor 20%, transparent);
  transition:
    opacity 0.2s ease-in-out;

  &:hover {
    opacity: 0.8;
    text-decoration: none;
  }
}

section {
  padding: var(--space-24) 0;
}

button {
  cursor: pointer;
}

img {
  max-width: 100%;
  height: auto;
  background-color: var(--color-bg-raised);
}

blockquote {
  padding: var(--space-8) var(--space-16);
  border-left: 4px solid var(--color-border-brand);
  font-style: italic;
  max-width: 70ch;

  p:last-child {
    margin-bottom: 0;
  }
}

ul {
  padding-left: var(--space-24);
  margin-bottom: var(--space-24);
}

li {
  margin-bottom: var(--space-4);
}