@import '_sizes.css';

:root {
  --font-family-body: var(--font-onest), system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
  --font-family-display: var(--font-onest), system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;

  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
  --font-weight-black: 900;

  --font-size-14: var(--size-14);
  --font-size-16: var(--size-16);
  --font-size-18: var(--size-18);
  --font-size-20: var(--size-20);
  --font-size-24: var(--size-24);
  --font-size-32: var(--size-32);
  --font-size-40: var(--size-40);
  --font-size-48: var(--size-48);
}