---
import videoSrc from "./video/video.mp4";
import captions from "./video/captions.vtt";

import posterImage from "./video/poster.avif";
---

<section class="about" id="about" aria-label="Обо мне">
  <div class="about__video">
    <div class="video-container">
      <video
        id="reelsVideo"
        class="video-player"
        poster={posterImage.src}
        controls
        preload="none"
        src={videoSrc}
      >
        <track
          src={captions}
          kind="captions"
          srclang="ru"
          label="Русский"
          default
        />
        Ваш браузер не поддерживает тег видео.
      </video>
    </div>
  </div>
  <div class="about__text">
    <h2>Обо мне</h2>
    <p>
      Привет! Меня зовут Кирилл. Я занимаюсь созданием сайтов уже 20 лет.
      IT-технологии всегда были моей страстью, а дизайн, кофе и музыка — моими
      увлечениями.
    </p>
    <p>
      За это время я сотрудничал с известными сибирскими диджитал-агентствами и
      зарубежными компаниями.
    </p>
    <p>
      Я понимаю важность цифрового присутствия, поэтому помогаю бизнесу обрести
      уникальное лицо в онлайн-мире.
    </p>
  </div>
</section>

<style lang="scss">
  .about {
    display: flex;
    gap: var(--space-80);
    align-items: end;

    @media (max-width: 992px) {
      flex-direction: column;
      align-items: start;
      gap: var(--space-40);
    }

    &__video {
      max-width: 400px;
      height: auto;

      @media (max-width: 767px) {
        max-width: 100%;
      }

      .video-container {
        position: relative;
        width: 100%;
      }

      .video-player {
        width: 100%;
        height: auto;
      }
    }
  }
  [data-icon] {
    color: var(--color-icon-static-white);
    transform: translateX(var(--space-4));
  }
</style>
