---
import "../styles/index.css";
import "@fontsource-variable/onest";
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="lirik.pro / Дизайнер Кирилл Исаченко">
  <main>
    <section class="hero">
      <h1>Я всё сделаю сам.</h1>
      <p>Создаю стильные, продающие интернет-магазины.</p>
      <p>
        Беру всё на себя — никаких лишних вопросов и постоянных согласований.
      </p>
      <p>
        Вы получаете готовый, современный сайтс классным дизайном в разумные
        сроки.
      </p>
    </section>
    <section class="expertize">
      <ul role="list" class="link-card-grid">
        <Card
          href="https://docs.astro.build/"
          title="Documentation"
          body="Learn how Astro works and explore the official API docs."
        />
        <Card
          href="https://astro.build/integrations/"
          title="Integrations"
          body="Supercharge your project with new frameworks and libraries."
        />
        <Card
          href="https://astro.build/themes/"
          title="Themes"
          body="Explore a galaxy of community-built starter themes."
        />
        <Card
          href="https://astro.build/chat/"
          title="Community"
          body="Come say hi to our amazing Discord community. ❤️"
        />
      </ul>
    </section>
  </main>
</Layout>

<style>
  main {
    display: grid;
    gap: var(--space-200);
    margin: auto;
    padding: 1rem;
    width: 1440px;
    max-width: calc(100% - 2rem);
    line-height: 1.6;
  }
  h1 {
    font-family: var(--font-family-display);
    font-size: var(--font-size-190);
    font-weight: var(--font-weight-black);
    line-height: 80%;
    text-transform: uppercase;
    letter-spacing: -0.04em;
  }

  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 2rem;
    padding: 0;
  }
</style>
