---
import { Icon } from "astro-icon/components";

import videoSrc from "/video/video.mp4";
import captions from "/video/captions.vtt";
---

<section class="about" id="about">
  <div class="about__video">
    <div class="video-container">
      <video id="reelsVideo" class="video-player" poster="/video/video_preview.png">
        <source src={videoSrc} type="video/mp4" />
        <track src={captions} kind="captions" srclang="en" label="English" default />
        Your browser does not support the video tag.
      </video>
      <button id="playButton" class="play-button" aria-label="Play Video">
        <Icon name="play" class="play-button__play" width={40} height={40} />
      </button>
    </div>
  </div>
  <div class="about__text">
    <h2>Обо мне</h2>
    <p>
      Привет! Меня зовут Кирилл. Я занимаюсь созданием сайтов уже 20 лет.
      IT-технологии всегда были моей страстью, а дизайн, кофе и музыка — моими
      увлечениями.
    </p>
    <p>
      За это время я сотрудничал с известными сибирскими диджитал-агентствами и
      зарубежными компаниями.
    </p>
    <p>
      Я понимаю важность цифрового присутствия, поэтому помогаю бизнесу обрести
      уникальное лицо в онлайн-мире.
    </p>
  </div>
</section>

<style lang="scss">
  .about {
    display: flex;
    gap: var(--space-80);
    align-items: end;

    @media (max-width: 992px) {
      flex-direction: column;
      align-items: start;
      gap: var(--space-40);
    }

    &__video {
      max-width: 400px;
      height: auto;

      @media (max-width: 767px) {
        max-width: 100%;
      }

      .video-container {
        position: relative;
        width: 100%;
        cursor: pointer;
      }

      .video-player {
        width: 100%;
        height: auto;
      }

      .play-button {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: rgba(0, 0, 0, 0.5);
        border: none;
        border-radius: 50%;
        width: 80px;
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 2;
      }

      .play-button:focus {
        outline: none;
      }
    }
  }
  [data-icon] {
    color: var(--color-icon-static-white);
    transform: translateX(var(--space-4));
  }
</style>

<script is:inline>
  const video = document.getElementById("reelsVideo");
  const playButton = document.getElementById("playButton");

  playButton.addEventListener("click", function () {
    video.play();
    playButton.style.display = "none";
  });

  video.addEventListener("click", function () {
    if (video.paused) {
      video.play();
      playButton.style.display = "none";
    } else {
      video.pause();
      playButton.style.display = "flex";
    }
  });
</script>
