---
import Link from "./Link.astro";
---

<footer class="footer">
  <span>
    &copy; 2003—<span id="copyright"></span> lirik.pro
  </span>
  <nav aria-label="Primary" class="nav">
    <ul class="menu">
      <li>
        <Link
          text="Telegram"
          href="https://t.me/lirikpro"
          title="Telegram"
          target="_blank"
          data-navLink
        />
      </li>
      <li>
        <Link
          text="WhatsApp"
          href="https://wa.me/79620726666"
          title="WhatsApp"
          target="_blank"
          data-navLink
        />
      </li>
      <li>
        <Link
          text="X"
          href="https://x.com/lirik1986"
          title="X"
          target="_blank"
          data-navLink
        />
      </li>
      <li>
        <Link
          text="Behance"
          href="https://behance.net/design-ninja"
          title="Behance"
          target="_blank"
          data-navLink
        />
      </li>
      <li>
        <Link
          text="GitHub"
          href="https://github.com/design-ninja"
          title="GitHub"
          target="_blank"
          data-navLink
        />
      </li>
    </ul>
  </nav>
  <span class="footer__author"> Дизайн и разработка: lirik 🖤 </span>
</footer>

<style lang="scss">
  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--space-40);
    padding: var(--space-40) 0;
    border-top: var(--size-1) solid var(--color-border-primary);
    color: var(--color-text-secondary);

    @media (max-width: 992px) {
      flex-direction: column;
      align-items: start;
    }
  }

  .menu {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: var(--space-40);
    padding: 0;

    @media (max-width: 992px) {
      gap: var(--space-16);
    }
  }

  .menu li {
    list-style: none;
  }
</style>

<script>
  const copyrightElement = document.querySelector("#copyright");
  if (copyrightElement) {
    copyrightElement.textContent = new Date().getFullYear().toString();
  }
</script>
