---
import siteConfig from '../data/site-config';

const socialLinks = siteConfig.socialLinks || [];
const footer = siteConfig.footer;
---

<footer class="footer">
  <span>
    &copy; 2003—<span set:html={new Date().getFullYear()} /> lirik.pro
  </span>
  <nav aria-label="Primary" class="nav">
    <ul class="menu">
      {
        socialLinks.length > 0 && (
          <ul class="menu">
            {socialLinks.map((link) => (
              <li>
                <a href={link.href} target="_blank" rel="noopener noreferer">
                  {link.text}
                </a>
              </li>
            ))}
          </ul>
        )
      }
    </ul>
  </nav>
  <span class="footer__author">{footer?.author && footer.author}</span>
</footer>

<style lang="scss">
  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--space-40);
    padding: var(--space-40) 0;
    border-top: var(--size-1) solid var(--color-border-primary);
    color: var(--color-text-secondary);

    @media (max-width: 992px) {
      flex-direction: column;
      align-items: start;
      gap: var(--space-24);
    }
  }

  .menu {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: var(--space-40);
    padding: 0;

    @media (max-width: 992px) {
      gap: var(--space-16);
    }
  }

  .menu li {
    list-style: none;
  }
</style>
