---
import Logo from "./Logo.astro";
import Link from "./Link.astro";
import ThemeToggle from "./ThemeToggle.astro";
import { Icon } from "astro-icon/components";
---

<header>
  <nav aria-label="Primary" class="nav">
    <Logo />
    <div class="menu__wrap">
      <ul class="menu">
        <li>
          <Link text="Экспертиза" href="#expertize" data-navLink />
        </li>
        <li>
          <Link text="Работы" href="#projects" data-navLink />
        </li>
        <li>
          <Link text="Обо мне" href="#about" data-navLink />
        </li>
        <li>
          <Link text="Отзывы" href="#testimonials" data-navLink />
        </li>
        <li>
          <Link text="Контакты" href="#cta" data-navLink />
        </li>
      </ul>
      <div class="menu__actions">
        <button id="menuToggle" class="menu__toggle" aria-label="Toggle menu">
          <Icon id="menuIcon" name="menu" class="menu__icon" />
          <Icon id="closeIcon" name="close" style="display: none;" />
        </button>
        <ThemeToggle />
      </div>
    </div>
  </nav>
</header>

<style lang="scss">
  nav {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .menu {
    display: flex;
    align-items: center;
    gap: var(--space-40);

    &__wrap {
      display: flex;
      align-items: center;
      gap: var(--space-40);
    }

    &--mobile {
      flex-direction: column;
      position: absolute;
      top: var(--size-80);
      left: 0;
      right: 0;
      background: var(--color-bg-base);
      z-index: 100;
      gap: var(--space-40);
      padding: var(--space-40);
      border-bottom: 1px solid var(--color-border-primary);
    }

    li {
      list-style: none;
    }

    &__icon svg{
      fill: red;
    }

    &__actions {
      display: flex;
      gap: var(--space-16);
    }

    &__toggle {
      display: none;
      font-size: 2rem;
      background: none;
      border: none;
      cursor: pointer;

      svg {
        pointer-events: none;
      }
    }
  }

  @media (max-width: 992px) {
    .menu {
      display: none;
    }
    .menu__toggle {
      display: block;
    }
  }

  @media (min-width: 992px) {
    .menu {
      display: flex;
    }
    .menu__toggle {
      display: none;
    }
  }

  [data-icon] {
    color: var(--color-icon-primary);
  }
</style>

<script is:inline>
  const menu = document.querySelector(".menu");
  const menuIcon = document.getElementById("menuIcon");
  const closeIcon = document.getElementById("closeIcon");
  const navLinks = document.querySelectorAll("[data-navLink]");

  function toggleMenu() {
    if (menu.style.display === "flex") {
      menu.style.display = "none";
      menu.classList.remove("menu--mobile");
      menuIcon.style.display = "block";
      closeIcon.style.display = "none";
    } else {
      menu.style.display = "flex";
      menu.classList.add("menu--mobile");
      menuIcon.style.display = "none";
      closeIcon.style.display = "block";
    }
  }

  document.getElementById("menuToggle").addEventListener("click", toggleMenu);

  navLinks.forEach((link) => {
    link.addEventListener("click", toggleMenu);
  });

  document.addEventListener("click", function (event) {
    if (!menu.contains(event.target) && !event.target.matches("#menuToggle")) {
      if (menu.style.display === "flex") {
        toggleMenu();
      }
    }
  });
</script>
