---
import { Icon } from "astro-icon/components";

import Button from "../components/Button.astro";
---

<section class="hero" aria-label="Я всё сделаю сам">
  <h1>Я всё сделаю сам.</h1>
  <div class="hero__wrap">
    <div class="hero__text">
      <p>Создаю стильные, продающие интернет-магазины.</p>
      <p>
        Беру всё на себя — никаких лишних вопросов и&nbsp;постоянных согласований.
      </p>
      <p>
        Вы получаете готовый, современный сайт с&nbsp;классным дизайном в&nbsp;разумные
        сроки.
      </p>
    </div>
    <div>
      <Button
        color="primary"
        size="large"
        isIcon
        href="https://wa.me/79620726666"
      >
        <Icon name="whatsapp" width={24} height={24} />
        Написать мне
      </Button>
    </div>
  </div>
</section>

<style lang="scss">
  .hero {

    @media (max-width: 992px) {
      padding-top: var(--space-24);
      padding-bottom: 0;
    }

    &__wrap {
      display: grid;
      gap: var(--space-40);
      grid-template-columns: 500px 1fr;
      align-items: start;

      @media (max-width: 992px) {
        grid-template-columns: 1fr;
        gap: var(--space-16);
      }
    }

    &__text {
      max-width: 40ch;

      p:last-child {
        margin-bottom: 0;
      }
    }
  }
</style>
