---
import { Icon } from "astro-icon/components";
import Button from "../components/Button.astro";
import * as heroContent from "../content/base/hero.md";
import * as actionText from "../content/base/common.md";

import { Content as HeroText } from "../content/base/hero.md";
---

<section class="hero" aria-label={heroContent.frontmatter.title}>
  <h1>{heroContent.frontmatter.title}</h1>
  <div class="hero__wrap">
    <div class="hero__text">
      <HeroText />
    </div>
    <div>
      <Button
        color="primary"
        size="large"
        isIcon
        href="https://wa.me/79620726666"
      >
        <Icon name="whatsapp" width={24} height={24} />
        {actionText.frontmatter.action}
      </Button>
    </div>
  </div>
</section>

<style lang="scss">
  .hero {
    @media (max-width: 992px) {
      padding: 0;
    }

    &__wrap {
      display: grid;
      gap: var(--space-40);
      grid-template-columns: 500px 1fr;
      align-items: start;

      @media (max-width: 992px) {
        grid-template-columns: 1fr;
        gap: var(--space-16);
      }
    }

    &__text {
      max-width: 40ch;

      @media (max-width: 992px) {
        p {
          font-size: var(--font-size-20);
        }
      }

      p:last-child {
        margin-bottom: var(--space-16);
      }
    }
  }
</style>
