---
import Avatar from './Avatar.astro';
import siteConfig from '../data/site-config';

const author = siteConfig.author;
---

<a href="/" class="logo">
  <Avatar size="medium" loading="eager" />
  <span class="logo__label">{author}</span>
</a>

<style>
  .logo {
    display: flex;
    gap: var(--space-16);
    align-items: center;
  }
  .logo__label {
    font-size: var(--font-size-20);
  }
</style>
