---
import Avatar from "./Avatar/Avatar.astro";

const label = await import("../content/base/common.md").then(
  (module) => module as unknown as { frontmatter: { logoLabel: string } }
);
const { logoLabel } = label.frontmatter;
---

<a href="/" class="logo">
  <Avatar size="medium" loading="eager" />
  <span class="logo__label">{logoLabel}</span>
</a>

<style>
  .logo {
    display: flex;
    gap: var(--space-16);
    align-items: center;
  }
  .logo__label {
    font-size: var(--font-size-20);
  }
</style>
