---
interface Props {
  title: string;
  text: string;
  number: string;
}

const { title, text, number } = Astro.props;
---

<li class="service">
  <div>
    <h2 class="service__number">{number}</h2>
    <h2>{title}</h2>
    <p>{text}</p>
  </div>
</li>
<style>
  .service {
    list-style: none;
    display: flex;
    padding: var(--space-40);
    border: var(--size-1) solid var(--color-border-primary);
  }
  .service__number {
    color: var(--color-text-tertiary);
    margin-bottom: var(--space-80);
  }
</style>
