---
import type { GetStaticPathsOptions, Page } from 'astro';
import { type CollectionEntry, getCollection } from 'astro:content';
import BaseLayout from '../../layouts/BaseLayout.astro';
import Pagination from '../../components/Blog/Pagination.astro';
import ProjectPreview from '../../components/Portfolio/ProjectPreview.astro';
import siteConfig from '../../data/site-config';
import { sortItemsByDateDesc } from '../../utils/data-utils';

export async function getStaticPaths({ paginate }: GetStaticPathsOptions) {
  const projects = (await getCollection('projects')).sort(sortItemsByDateDesc);
  return paginate(projects, { pageSize: siteConfig.projectsPerPage || 6 });
}

type Props = { page: Page<CollectionEntry<'projects'>> };

const { page } = Astro.props;
const portfolio = page.data;
---

<BaseLayout title="Портфолио" description="Портфолио дизайнера Кирилла Исаченко" image={{ src: '/og-preview.jpg', alt: 'Дизайнер Кирилл Исаченко' }}>
  <h1>Портфолио</h1>
  <div class="projects__grid">
    {portfolio.map((project) => <ProjectPreview project={project} />)}
  </div>
  <Pagination page={page} />
</BaseLayout>

<style lang="scss">
  .projects {
    &__grid {
      display: grid;
      gap: var(--space-80);
    }
  }
</style>
