---
import Layout from "../../layouts/Layout.astro";
import Projects from "../../components/Projects/Projects.astro";

interface Props {
  title: string;
  description: string;
}
---

<Layout
  title="lirik.pro - Проекты"
  description="Проекты дизайнера Кирилла Исаченко"
>
  <h1 class="inner">Проекты</h1>
  <Projects />
</Layout>

<style lang="scss"></style>
