---
import SectionTitle from '../SectionTitle.astro';
import Testimonial from './Testimonial.astro';

import siteConfig from '../../data/site-config';

interface Testimonial {
  text: string;
  author: string;
}

interface Testimonials {
  title: string;
  reviews: Testimonial[];
}

const { title, reviews } = siteConfig.testimonials ?? { title: '', reviews: [] };
---

<section class="testimonials" id="testimonials" aria-label="Отзывы">
  <SectionTitle title={title} />
  <ul class="testimonials__grid">
    {reviews.map((review, index) => <Testimonial text={review.text} author={review.author} />)}
  </ul>
</section>

<style lang="scss">
  .testimonials {
    .testimonials__grid {
      display: grid;
      gap: var(--space-80);
      padding: 0;
      grid-template-columns: repeat(2, 1fr);

      @media (max-width: 767px) {
        grid-template-columns: 1fr;
      }
    }
  }
</style>
