---
import SectionTitle from "../SectionTitle.astro";
import Testimonial from "./Testimonial.astro";

interface TestimonialItem {
  text: string;
  author: string;
}

interface Frontmatter {
  testimonials: TestimonialItem[];
}

const { frontmatter } = await import("./data/testimonials.md").then(
  (module) => module as unknown as { frontmatter: Frontmatter }
);
const testimonials = frontmatter.testimonials;
---

<section class="testimonials" id="testimonials" aria-label="Отзывы клиентов">
  <SectionTitle title="Отзывы клиентов" />
  <ul class="testimonials__grid">
    {
      testimonials.map((testimonial) => (
        <Testimonial text={testimonial.text} author={testimonial.author} />
      ))
    }
  </ul>
</section>

<style lang="scss">
  .testimonials {

    .testimonials__grid {
      display: grid;
      gap: var(--space-80);
      padding: 0;
      grid-template-columns: repeat(2, 1fr);

      @media (max-width: 767px) {
        grid-template-columns: 1fr;
      }
    }
  }
</style>
