---
interface Props {
  text: string;
  author: string;
}

const { text, author } = Astro.props;
---

<li class="testimonial">
  <div>
    <p class="testimonial__text">{text}</p>
    <p class="testimonial__author">{author}</p>
  </div>
</li>
<style lang="scss">
  .testimonial {
    list-style: none;
    display: flex;

    &__text {
      font-size: var(--font-size-24);
    }

    &__author {
      color: var(--color-text-secondary);
    }
  }
</style>
