---
import { ViewTransitions } from 'astro:transitions';
import BaseHead, { type Props } from '../components/BaseHead.astro';

import Footer from '../components/Footer.astro';

const { ...head } = Astro.props;
---

<!doctype html>
<html lang="ru">
  <head>
    <BaseHead {...head} />
    <ViewTransitions />
  </head>
  <body>
    <main>
      <slot />
      <Footer />
    </main>
  </body>
</html>
