---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <link rel="manifest" href="favicon/site.webmanifest">
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global lang="scss">
  :root {
    scroll-behavior: smooth;
  }

  body {
    font-family: var(--font-family-body);
    background: var(--color-bg-base);
    color: var(--color-text-primary);
    font-size: var(--font-size-18);
    transition: background-color 0.5s ease, color 0.5s ease;
  }

  h1 {
    font-family: var(--font-family-display);
    font-size: 13vw;
    font-weight: var(--font-weight-black);
    line-height: 90%;
    text-transform: uppercase;
    letter-spacing: -0.04em;
    margin-bottom: var(--space-64);

    @media (max-width: 992px) {
      font-size: 20vw;
      margin-bottom: var(--space-24);
      line-height: 100%;
    }
  }

  h2 {
    font-size: var(--font-size-48);
    font-weight: var(--font-weight-regular);
    line-height: 100%;
    margin-bottom: var(--space-24);
  }

  h3 {
    font-size: var(--font-size-40);
    font-weight: var(--font-weight-regular);
    line-height: 100%;
    margin-bottom: var(--space-24);
  }

  p {
    font-size: var(--font-size-18);
    line-height: 150%;
    margin-bottom: var(--space-16);
    max-width: 48ch;
  }

  a {
    color: var(--color-text-link-primary);
    text-decoration: none;
    transition: opacity .2s ease;

    &:hover {
      opacity: .8;
    }
  }

  section {
    padding: var(--space-40) 0;
  }

  button {
    cursor: pointer;
  }
</style>
