---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global>
  :root {
    scroll-behavior: smooth;
  }

  body {
    font-family: var(--font-family-body);
    background: var(--color-bg-base);
    color: var(--color-text-primary);
    font-size: var(--font-size-18);
  }

  h1 {
    font-family: var(--font-family-display);
    font-size: 13vw;
    font-weight: var(--font-weight-black);
    line-height: 80%;
    text-transform: uppercase;
    letter-spacing: -0.04em;
    margin-bottom: var(--space-64);
  }

  h2 {
    font-size: var(--font-size-48);
    font-weight: var(--font-weight-regular);
    line-height: 100%;
    margin-bottom: var(--space-16);
  }

  h3 {
    font-size: var(--font-size-40);
    font-weight: var(--font-weight-regular);
    line-height: 100%;
    margin-bottom: var(--space-16);
  }

  p {
    font-size: var(--font-size-18);
    line-height: 140%;
    margin-bottom: var(--space-16);
    max-width: 48ch;
  }

  a {
    color: var(--color-text-link-primary);
  }

  section {
    padding: var(--space-40) 0;
  }

  button {
    cursor: pointer;
  }
</style>
